// Colors

$main-color: #00e6f7;
$hover-color: #83761b;
$text-color: white;
$hover-text-color: black;

/* Color Theme Swatches in Hex */
$blue-bg-veryDark: #031d40;
$blue-bg-dark: #074e8c;
$blue-bg-midDark: #08428c;
$blue-bg-normal: #2995d9;
$blue-bg-light: #3df2f2;

// Fonts

$ff-segoe: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$ff-rubik: "Rubik Distressed", cursive;
$ff-almendra: "Almendra Display", cursive;
