// Colors

$main-color: #00e6f7;
$hover-color: #83761b;
$text-color: white;
$hover-text-color: black;

/* Color Theme Swatches in Hex */
$purple-bg-veryDark: #200726;
$purple-bg-dark: #350c40;
$purple-bg-midDark: #4a1259;
$purple-bg-normal: #622773;
$purple-bg-light: #a192a6;

// Fonts

$ff-segoe: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$ff-rubik: "Rubik Distressed", cursive;
$ff-almendra: "Almendra Display", cursive;
