@use "../../scss/abstracts/variables";

.title h1 {
  color: variables.$blue-bg-light;
  margin-top: 2rem;
  animation: heartbeat 2s infinite ease-in-out;
}

@keyframes heartbeat {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
