@use "../../scss/abstracts/variables";

.nav {
  background-image: linear-gradient(
    variables.$blue-bg-light,
    variables.$blue-bg-dark
  );
  box-shadow: 2px 2px 30px variables.$blue-bg-light;

  &--left img {
    box-shadow: 1px 1px 40px variables.$box-shadow-color;
    border-radius: 50%;
    padding: 0.3rem;
    animation: rotateAnimation 20s infinite linear;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--right li a {
    padding: 0.5rem;
    border-radius: 10px;

    &:hover {
      color: variables.$blue-bg-veryDark !important;
      background-color: variables.$blue-bg-light;
      transition-duration: 0.5s;
    }
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg); /* Başlangıç açısı */
  }
  to {
    transform: rotate(360deg); /* Bitiş açısı (bir tam tur dönme) */
  }
}
