@use "../../scss/abstracts/variables";

.nav {
  background-image: linear-gradient(
    variables.$blue-bg-light,
    variables.$blue-bg-dark
  );
  box-shadow: 2px 2px 30px variables.$blue-bg-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &--left img {
    box-shadow: 1px 1px 40px variables.$box-shadow-color;
    border-radius: 50%;
    padding: 0.3rem;
    animation: rotateAnimation 20s infinite linear;
    margin-left: 1.5rem;
  }

  &--middle {
    font-family: variables.$ff-protest;
    h1 {
      font-size: 3rem;
      margin-left: 0.6rem;
    }
  }

  &--right {
    ul {
      display: flex;
      font-size: 1.2rem;
      margin-top: 1rem;
      li a {
        padding: 0.3rem;
        border-radius: 10px;

        &:hover {
          color: variables.$blue-bg-veryDark !important;
          background-color: variables.$blue-bg-light;
          transition-duration: 0.5s;
        }
      }
    }
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg); /* Başlangıç açısı */
  }
  to {
    transform: rotate(360deg); /* Bitiş açısı (bir tam tur dönme) */
  }
}

@media (max-width: 800px) {
  .nav {
    &--left img {
      width: 70px !important;
      padding: 0.5rem !important;
    }

    // &--middle h1 {
    //   margin-left: 5rem;
    // }

    &--right {
      // position: relative; /* Ana öğenin konumu belirlenir */
      ul {
        display: none; /* Varsayılan olarak menüyü gizle */
        position: absolute; /* Konumlandırma için mutlak pozisyon */
        top: 60px; /* Ana öğenin altında konumlandır */
        right: 30px; /* Sayfanın sağ kenarına hizala */
        // margin-right: 10%; /* Sağdan boşluk bırak */
        z-index: 999; /* Diğer öğelerin üzerinde görünmesini sağla */
        background-color: rgba(0, 0, 0, 0.911); /* Arka plan rengi */
        padding: 10px; /* İçeriği kenarlardan uzaklaştır */
        height: 200px;
        width: 150px;
        color: black !important;
        line-height: 2.8rem;
        text-align: center;
        &.show {
          display: inline-block; /* Show sınıfı eklenirse menüyü göster */
        }
      }
    }

    &--toggle button {
      font-size: smaller !important;
    }
  }
}
@media (min-width: 800px) {
  .nav--toggle {
    display: none;
  }
}
