//*abstract
@use "././scss/abstracts/mixins";
@use "././scss/abstracts/variables";
//*base
@use "././scss/base/reset";
//*components
@use "././scss/components/responsive";
@import "bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: variables.$ff-rubik;
  color: variables.$text-color;
  background-image: linear-gradient(
    to top,
    variables.$blue-bg-veryDark,
    variables.$blue-bg-dark
  );
  height: 100%;
  line-height: 1;
}

a {
  color: variables.$text-color !important;
  text-decoration: none !important;
}

h1,
h2,
h3 {
  font-weight: 400;
}
