@use "../../scss/abstracts/variables";

.sliderImg {
  width: 100%;
  object-fit: cover;
  height: 600px;
}

.slider2 {
  height: 50% !important;
  overflow: auto;
  margin-bottom: 5rem;

  &::-webkit-scrollbar {
    display: none !important;
  }
  p {
    font-size: 1.3rem;
    font-family: variables.$ff-almendra !important;
  }
}

.slider1 {
  p {
    font-family: variables.$ff-almendra !important;
  }
}

.slider3 {
  background-color: rgba(220, 220, 220, 0.904);
  height: 50%;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  h3 {
    padding-top: 1rem;
  }
  p {
    font-family: variables.$ff-almendra !important;
    color: rgb(68, 67, 67);
    padding: 1rem;
  }
}

@media only-screen and (max-width: 368px) {
  .slider3 {
    font-size: smaller !important;
  }

  .slider2 h2,
  .slider2 p {
    font-size: 1rem !important;
  }
}
